$title : #545454;
$text: #FFFFFF;
$headerPetsBg: #FFFFFF;
$descr: #4C4C4C;
$bgWelcome: #211F20;
$menuListLinkPets: #292929;
$petsHeaderText: #292929;
$welcomeTitle: #FFFFFF;
$petsBg: #F6F6F6;
$accordionDescr: #545454;
$accordionBtn: #292929;
$accordionBtnBorder: #F1CDB3;
$donationBg: #F6F6F6;
$donationBtn: #545454;
$BtnBg: #F1CDB3;
$donationText: #B2B2B2;
$accordionItemBg: #FAFAFA;
$menuListLink: #FAFAFA;
$menuListLinkHover: #F1CDB3;
$headerBg: #211F20;
$btn: #292929;
$btnBgHover: #FDDCC4;
$burgerMenuBg: #292929;