.section {
	padding: 80px 0px 100px 0px;
}

.title {
	font-family: 'Georgia';
	font-size: 35px;
	line-height: 45px;
	letter-spacing: 0.06em;
	color: $title;

}

.text {
	font-size: 13px;
	line-height: 15px;
	color: $text;
}

.descr {
	font-size: 15px;
	line-height: 24px;
	color: $descr;
}

.btn {
	padding: 15px 45px;
	gap: 10px;
	background: $BtnBg;
	border-radius: 100px;
	color: $btn;
	letter-spacing: 0.06em;
	font-size: 17px;
	line-height: 22px;
	}

/*Header*/

.header {
	padding: 30px 0px 90px 0px;
	background: $headerBg;
	@media (max-width: 768px) {
		padding: 46px 0px 61px 0px;
	}
}

.header__inner {
	display: flex;
	justify-content: space-between;
	width: 100%;
	@media (max-width: 768px) {
		
	}
}

.header__text {
	padding-top: 10px;
}

.header__logo {
	cursor: pointer;
}

.menu__list {
	display: flex;
	align-items: center;
	gap: 35px;
	&-link {
		font-size: 15px;
		line-height: 24px;
		color: $menuListLink;
		&:hover {
			text-decoration: underline 3px;
			color: $menuListLinkHover;
		}
	}
}


/*Welcome*/

.welcome {
	background-color: $bgWelcome;
}


.welcome__inner {
	display: flex;
	gap: 42px;
	@media(max-width: 768px) {
		padding: 60px 99px 0px 100px;
		flex-direction: column;
		max-height: 1015px;
	}
}

.welcome__descr {
	display: flex;
	flex-direction: column;
	margin-top: 163px;
	// flex-basis: 460px;
	flex-basis: 38%;
	gap: 42px;
	@media(max-width: 768px) {
		margin-top: 0px;
	}
}


.welcome__title {
	font-family: 'Georgia', serif;
	font-size: 44px;
	line-height: 57px;
	color: $welcomeTitle;
}

.welcome__text {
	line-height: 24px;
	@media(max-width: 768px) {
		font-size: 15px;
		line-height: 24px;
	}
}


.welcome__image-icon {
	width: 100%;
	height: auto;
	@media (max-width: 768px) {
		max-width: 569px;
		max-height: 593px;
	}
}

.btn__container {
	@media (max-width: 768px) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

	// .welcome__btn {
	// 	@media (max-width: 768px) {
	// 		justify-content: center;
	// 		align-items: center;
	// 	}
	// }


/*About*/

.about {
	@media (max-width: 768px) {
		padding: 80px 165px 100px 166px;
	}
}
.about__img {
	flex-basis: 300px;
	padding: 0px 175px 0px 120px;
	@media(max-width: 768px) {
		padding: 0px;
		margin: 0 auto;
	}
}

.about__inner {
	display: flex;
	@media (max-width: 768px) {
		flex-direction: column-reverse;
		gap: 80px;
	}
}


.about__content {
	flex-basis: 430px;
}

.about__descr {
	padding-top: 25px;
}

/*Pets*/

.pets {
	background: $petsBg;
}

.pets__title {
	text-align: center;
}

.slider {
	padding: 60px 0px 60px 0px;
	display: flex;
	justify-content: space-between;
}

.slider__item {
	padding: 26px 0px 30px 0px;
	max-height: 435px;
	background: $accordionItemBg;
	border-radius: 9px;
	cursor: pointer;
}

.slider__descr {
	font-family: 'Georgia';
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.06em;
	color: $accordionDescr;
	padding: 30px 0px 30px 0px;
}


.slider__btn {
	margin: 0px 41px 0px 41px;
	max-width: 187px;
	max-height: 52px;
	padding: 15px 45px;
	gap: 10px;
	color: $accordionBtn;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 22px;
	border: 2px solid $accordionBtnBorder;
	border-radius: 100px;
	&:hover {
		background: $btnBgHover;
	}
}

.pets__btn {
	padding: 20px 45px;
}

.pets__btn-link {
	padding: 10px 45px;
}

/* Help */

.help__title {
	text-align: center;
}

.help__list {
	max-width: 1026px;
	padding-top: 60px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

.list__item {
	text-align: center;
	margin-top: 50px;
}

.list__item + .list__item {
	margin-left: 120px;
}

.list__descr {
	margin-top: 30px;
	font-family: 'Georgia';
	font-size: 20px;
	line-height: 23px;
}

/* Donation */

.donation {
	background: $donationBg;
}

.donation__inner {
	display: flex;
	justify-content: space-around;
}

.donation__descr {
	padding: 20px 0px 20px 0px;
	font-family: 'Georgia';
	font-size: 15px;
	line-height: 17px;
}

.donation__btn {
	font-family: 'Georgia';
	font-size: 20px;
	line-height: 23px;
	background: $BtnBg;
	border-radius: 9px;
	max-width: 349px;
	max-height: 43px;
	padding: 10px 15px;
	gap: 10px;
	color: $donationBg;
}

.donation__text {
	max-width: 380px;
	padding-top: 20px;
	font-style: italic;
	font-size: 12px;
	line-height: 18px;
	color: $donationText;
}

.footer {
	background: $bgWelcome;
}

.footer__wrapper {
	padding-top: 56px;
	display: flex;
	gap: 160px;
}

// .footer__element {
// 	flex: 0 1 33.333%;
// }

.footer__title {
	font-family: 'Georgia';
	font-size: 35px;
	line-height: 45.5px;
	letter-spacing: 2.1px;
	color: $text;
}

.footer__descr {
	font-family: 'Georgia';
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 1.2px;
	color: $menuListLinkHover;
}

.footer__info {
	display: flex;
	gap: 20px;
	padding: 40px 0px 40px 0px;
}