#slick-slide00 {
	content: url(/src/images/arrow-disable.svg);
}

#slick-slide01 {
	content: url(/src/images/arrow-disable.svg);
	transform: rotate(-180deg);


	&:hover {
		content: url(/src/images/arrow-active.svg);
		transform: rotate(0deg);
	}
}